import React, {useState, Suspense, useEffect} from "react"
import {MdxCodeBlock} from "../../shared/components/Mdx/Mdx.tsx"
import {mdxViewItem, mdxViewStyle, mdxWrapStyle, mdxSwicherGroup, mdxVariantGroup, mdxVariantItem, mdxVariantWrap, mdxVariantLinkGroup} from "../../shared/components/Mdx/Mdx.css"
import Button from "../../../shared/components/component/react/atom/Button/Button.tsx"


import { theme } from "../../shared/assets/style/theme/theme.css.ts"

{{#each data}}
{/* location of {{name}} source */}
{{#each code}}
import * as {{../name}}{{extention}} from "../../../{{location}}?raw";
{{/each}}
{{/each}}

export default function MdxWrap() {
    {{#each data}}
    {{#if @first}}
      const [radioCheck, setRadioCheck] = useState('{{name}}');
      const [port, setPort] = useState("{{path.port}}");
    {{/if}}
    {{/each}}
    {{#each variants}}
    {{#if @first}}
    const [variantValue, setVariantValue] = useState("{{this}}");
    {{/if}}
    {{/each}}
    const [fullScreen, setFullScreen] = useState(false);

    const switcher = (target) => {
          switch (target) {
            {{#each data}}
              case "{{name}}":
              return import.meta.env.VITE_LOCAL_{{name}}_URI
            {{/each}}
            default:
              break;
          }
        }
        
    const handleChange = (e)=> {
        const {name, value} = e.target;

        switcher(value)
        setPort(switcher(value))
        setRadioCheck(value);
    }

    const variantChange = (e) => {
      const {name, value} = e.target;
      setVariantValue(value);
    }
    useEffect(()=> {

    }, [variantValue, radioCheck])
    return (
        <div className={mdxWrapStyle}>
            <div className={`${mdxViewStyle} ${fullScreen ? "full" : ""}`}>
              <Button onClick={() => setFullScreen(!fullScreen) }>{fullScreen ? "축소" : "확대"}</Button>
              {{#each data}}
              <iframe
                  className={`${mdxViewItem} ${radioCheck != "{{name}}" ? 'hide' : ''}`}
                  src={`${import.meta.env.VITE_LOCAL_{{name}}_URI}/iframe.html?id={{path.componentLocation}}--${variantValue}&viewMode=story&refId=react&globals=`}
                  width="100%"
              ></iframe>
              {{/each}}
              
              <div className={mdxVariantGroup}>
                <ul className={mdxVariantWrap}>
                  {{#each variants}}
                  <li className={`${theme} ${mdxVariantItem}`}>
                    <input type="radio" name="variant" id="{{this}}" onChange={variantChange} value={"{{this}}"}  checked={variantValue == '{{this}}'}/><label htmlFor="{{this}}">{{this}}</label>
                  </li>  
                  {{/each}}
                </ul>
              </div>
              
            </div>
            <div className={mdxSwicherGroup} >
              {{#each data}}
              <Button variant={radioCheck === "{{name}}" ? "primary" : ""} onClick={handleChange} value={"{{name}}"}>{{name}}</Button>
              {{/each}}
              {{#each data}}
              {{#if @first}}
              <div className={mdxVariantLinkGroup}>
                <a href={`${switcher(radioCheck)}/?path=/story/{{path.componentLocation}}--${variantValue}`} target="_blank">[{radioCheck}]{variantValue}컴포넌트 바로가기</a>
              </div>
              {{/if}}
              {{/each}}
            </div>

            <div>
              {{#each data}}
              <div className={radioCheck == "{{name}}" ? `${mdxViewItem}` : `${mdxViewItem} hide`}>
                {{#each code}}
                <MdxCodeBlock title={"{{extention}}"} code={ {{../name}}{{extention}}.default} />
                {{/each}}
              </div>
              {{/each}}
            </div>
        </div>
    )
}